
USD_URL=http://api.navasan.tech/latest/?api_key=freepcT1zx7Ukb1pkjKFLQ4yVZZooZTo


#=============== simple jwt life time=========================#

LIFETIME_ACCESS_TOKEN_MINUTES=15
LIFETIME_REFRESH_TOKEN_DAYS=1

#==================tasks info=================#
TASKS_INFO ='{"task1":{
                        "name":"get_user_report",
                        "description":"get user registered",
                        "task_input":
                        {"name":"filename","type":"string"}
                       },
               "task2":{
                        "name":"get_usd_value",
                        "description":"get usd price",
                       },

               }'